*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	color: #212112;
	background-position: center;
	background-repeat: repeat;
	background-size: 7%;
	background-color: rgb(226, 226, 226);
	overflow-x: hidden;
}

::selection {
	color: #fff;
	background-color: #8167a9;
}
::-moz-selection {
	color: #fff;
	background-color: #8167a9;
}

.row::after {
    content: "";
    clear: both;
    display: block;
  }
  
  [class*="col-"] {
    float: left;
    padding: 15px;
  }
  
/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
.text-center{
    text-align: center;
}
ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    cursor: pointer;
}

.nav-center {
    padding: 1em;
    background: white;
    width: 100%;
    /*   align-items:center; */
    /*   justify-content: space-between; */
    width: 100%;
}

.nav-header {
    display: flex;
    justify-content: space-between;
}

.nav-header img {
    cursor: pointer;
    height: 70px;
    float: left;
    margin: 1em;
}

.links {
    display: flex;
    flex-direction: column;
    /*   height: 80vh; */
    transition: all 1s ease-in-out;
    height: 0;
    overflow: hidden;
}

.show-links {
    height: 80vh;
    transition: all 1s ease-in-out;
}

.links li {
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 1em 1em;
    margin: auto;
}

.links li a {
    color: #121212;

    transition: 0.1s border linear;
}

.links li a:hover {
    border-bottom: black 4px solid;
}

.social-icons {
    display: flex;
    height: 0vh;
    overflow: hidden;
}

.show-icons {
    height: 10vh;
    align-items: center;
    border-top: 2px solid black;
    overflow: visible;
}

.social-icons li {
    margin: auto;

    font-size: 1.5rem;
    transition: all 0.5s linear;
}

.social-icons li a {
    padding: 0.4em;
    color: black;
    transition: all 0.5s ease;
    border-radius: 50%;
}

.social-icons li a:hover {
    background: black;
    color: white;
}

.nav-toggle {
    font-size: 1.5rem;
    color: black;
    background: transparent;
    border-color: transparent;
    transition: 1s all linear;
    cursor: pointer;
    justify-self: flex-end;
    outline: none;
}

.nav-toggle:hover {
    color: black;
    transform: rotate(90deg);
    outline: none;
}
/*h1 {
    display: block;
    font-size: 2.5rem;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

h2 {
    display: block;
    font-size: 2rem;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

h3 {
    display: block;
    font-size:1.75rem;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

h4 {
    display: block;
    font-size: 1.5rem;
    margin-top: 1.33em;
    margin-bottom: 1.33em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

h5 {
    display: block;
    font-size: 1.25rem;
    margin-top: 1.67em;
    margin-bottom: 1.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

h6 {
    display: block;
    font-size: 1rem;
    margin-top: 2.33em;
    margin-bottom: 2.33em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}*/
.bg-card{
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    margin:  10px;
    padding: 10px;
}
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 100%;
  }

.button2 {background-color: #008CBA;} /* Blue */
.button3 {background-color: #f44336;} /* Red */ 
.button4 {background-color: #e7e7e7; color: black;} /* Gray */ 
.button5 {background-color: #555555;} /* Black */
.category-text{
    background-color: rgba(127, 255, 159, 0.452); 
    padding-left: 20px;
}
@media screen and (min-width: 800px) {
    .nav-toggle {
        display: none;
    }

    .nav-header {
        display: block;
    }

    .links {
        flex-direction: row;
        height: auto;
        display: flex;
    }

    .links li {
        font-size: 1rem;
        text-transform: uppercase;
        letter-spacing: 2px;
        padding: 1em 1em;
        margin: auto;
    }

    .social-icons {
        display: flex;
        height: 100%;
        align-items: center;
        border: none;
        padding: 1em;
    }

    .social-icons li {
        margin: auto;

        font-size: 1.2rem;
    }

    .nav-center {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

}
.footer-distributed{
	background: #666;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */

.footer-distributed h3{
	color:  #c00000;
	font: normal 36px 'Open Sans', cursive;
	margin: 0;
}

.footer-distributed h3 span{
	color:  #2f14c3;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
  font-weight:400;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #222;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
  font-weight:400;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  lightseagreen;
	text-decoration: none;;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}

.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #efefef;
    text-align: center;
  }

/*section style part*/
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-left: 45px;
    padding-right: 45px;
}
.colmn-2{
    flex-basis:50%;
    min-width: 300px;
}
.colmn-2 img{
    max-width: 100%;
    padding: 50px 0;
    border-radius: 50%;
}
.colmn-2 h1{
    font-size: 60px;
    line-height: 60px;
    margin: 25px 0;
    -webkit-text-stroke: 0.1vw goldenrod;
}
.colmn-2 p{
    font-size: 20px;
    color: #fff;
}
/*.btn{
    display: inline-block;
    background: chocolate;
    color: #000;
    font-size: 20px;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
}
.btn:hover{
    background: #000;
    color: chocolate;
}*/
.fpart{
    background: radial-gradient(rgb(78, 75, 75),#000);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.catlog{
    margin: 70px 0;
}
.colmn-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}
.colmn-3 img{
    width: 100%;
}
.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.colmn-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}
.colmn-4 img{
    width: 200px;
    height: 200px;
}
.hd2{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: black;
}
.hd2::after{
    content: '';
    background: chocolate;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%)
}
.colmn-4 h4{
    color: #000;
    font-weight: normal;
}
.colmn-4 p{
    font-size: 14px;
}
.rating .fa{
    color: #ff523b;
}
.colmn-4:hover{
    transform: translateY(-5px);
}
.offer{
    background: radial-gradient(rgb(78, 75, 75),#000);
    padding: 30px 0;
}
small{
    color: white;
}
.colmn-2 img{
    padding: 50px;
}
.colmn-2 p{
    color: goldenrod;
}
.add-cart{
    color: rgb(206, 99, 36);
}
